.Section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    margin-top: 63px;
}

.Section_title {
    font-size: 48px;
    color: #fff;
    font-weight: 500;
    z-index: 3;
}

.Section_banner {
    height: 223px;
    width: 95%;
    max-width: 1240px;
    position: absolute;
    background-color: #000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    z-index: 2;
}

.Section_img {
    height: 223px;
    width: 95%;
    max-width: 1240px;
    position: absolute;
    z-index: 1;
    border-radius: 25px;
}

@media screen and (max-width: 991px) {
    
    .Section {
        height: 200px;
        margin-top: 30px;
    }

    .Section_title {
        font-size: 38px;
    }
}

@media screen and (max-width: 767px) {
    
    .Section {
        margin-top: 16px;
        height: 111px;
    }

    .Section_banner {
        height: 111px;
        width: 335px;
        border-radius: 10px;
    }

    .Section_img {
        height: 111px;
        width: 335px;
        border-radius: 10px;
    }

    .Section_title {
        font-size: 24px;
        height: 48px;
        width: 217px;
    }
}